{{ define "title" }}
Admin
{{ end }}

{{ define "body" }}
<h2>Admin</h2>

<div class="well">
    <form method="POST">
        {{ .csrfField }}
        <div class="form-row">
            <label for="forum_name" class="form-label">Forum Name</label>
            <input type="text" class="form-control" name="forum_name" id="forum_name" minlength="3" maxlength="30" placeholder="Display Name" value="{{ .Domain.ForumName }}">
        </div>
        <div class="form-row">
            <label for="whitelisted_email_domains" class="form-label">Whitelisted Email Domains</label>
            <input type="text" class="form-control" name="whitelisted_email_domains" id="whitelisted_email_domains" minlength="3" maxlength="30" placeholder="Whitelisted Email Domains" value="{{ .Domain.WhitelistedEmailDomains }}">
        </div>
        <div class="form-row">
            <label for="logo" class="form-label">Logo</label>
            <textarea id="logo" class="form-control" name="logo" placeholder="image data-url" rows="12" cols="50">{{ .Domain.Logo }}</textarea>
        </div>
        <div class="form-row">
            <label for="icon" class="form-label">Favicon</label>
            <textarea id="icon" class="form-control" name="icon" placeholder="image data-url" rows="12" cols="50">{{ .Domain.Icon }}</textarea>
        </div>
        <br>
        <input type="checkbox" id="is_auto_user_creation_on_email_signin_enabled" name="is_auto_user_creation_on_email_signin_enabled" value="1" {{ if .Domain.IsAutoUserCreationOnEmailSigninEnabled }}checked{{ end }}>
        <label for="is_auto_user_creation_on_email_signin_enabled">Auto create user on email signin</label>
        <br>
        <input type="checkbox" id="is_regular_signup_enabled" name="is_regular_signup_enabled" value="1" {{ if .Domain.IsRegularSignupEnabled }}checked{{ end }}>
        <label for="is_regular_signup_enabled">Enable public signup</label>
        <br>
        <input type="checkbox" id="is_regular_signin_enabled" name="is_regular_signin_enabled" value="1" {{ if .Domain.IsRegularSigninEnabled }}checked{{ end }}>
        <label for="is_regular_signin_enabled">Enable regular / password signin</label>
        <br><br>
        <input type="checkbox" id="is_readonly" name="is_readonly" value="1" {{ if .Domain.IsReadOnly }}checked{{ end }}>
        <label for="is_readonly">Enable read-only mode</label>
        <br>
        <input type="checkbox" id="is_private" name="is_private" value="1" {{ if .Domain.IsPrivate }}checked{{ end }}>
        <label for="is_private">Enable private mode</label>
        <br>
        {{ if not .Domain.IsRegularSignupEnabled }}
        <div class="form-row">
            <label for="signup_token" class="form-label">Signup Token</label>
            <input type="text" class="form-control" name="signup_token" id="signup_token" minlength="3" maxlength="30" placeholder="my-unlisted-token" value="{{ .Domain.SignupToken }}">
        </div>
        <br>
            {{ if .Domain.SignupToken }}
            <label for="signup_token">Shareable unlisted signup link: <a href="{{ .BasePath }}auth/signup/{{ .Domain.SignupToken }}">https://{{ .Host }}{{ .BasePath }}auth/signup/{{ .Domain.SignupToken }}</a></label><br>
            {{ end }}
        {{ end }}
        {{ if .ErrMsg }}
        <p style="color:red;">{{ .ErrMsg }}</p>
        {{ end }}
        <div class="form-row" style="margin-top: 20px;">
            <input type="submit" class="form-control btn-primary btn-inline" name="action" value="Update">
        </div>
    </form>
</div>
<hr>
<h2>Mods</h2>

{{ range .Mods }}
<div class="well">
    <form method="POST" action="{{ $.BasePath }}admin/mods/delete">
        {{ $.csrfField }}
        {{ .Email }} ({{ .DisplayName }})
        <input type="hidden" name="mod_user_id" value="{{ .UserID }}">
        <div class="form-row" style="margin-top: 20px; display: inline;">
            <input type="submit" class="form-control btn-danger btn-inline" name="action" value="Remove">
        </div>
    </form>
</div>
{{ end }}

<div class="well">
    <form method="POST" action="{{ .BasePath }}admin/mods/create">
        {{ .csrfField }}
        <div class="form-row">
            <label for="mod_user_email" class="form-label">New Mod Email</label>
            <input type="text" class="form-control" name="mod_user_email" id="mod_user_email" minlength="3" maxlength="30" placeholder="me@example.com">
        </div>
        <div class="form-row" style="margin-top: 20px;">
            <input type="submit" class="form-control btn-primary btn-inline" name="action" value="Add">
        </div>
    </form>
</div>


<hr>
<h2>Categories</h2>
{{ range .Categories }}
<div class="well" style="margin-bottom: 20px;">
    <form method="POST" action="{{ $.BasePath }}admin/categories/{{ .CategoryID }}">
        {{ $.csrfField }}
        <div class="form-row">
            <label for="cat-name-{{ .CategoryID }}" class="form-label">Category name</label>
            <input type="text" class="form-control" name="name" id="cat-name-{{ .CategoryID }}" minlength="3" maxlength="30" placeholder="Off-topic" value="{{ .Name }}">
        </div>
        <div class="form-row">
            <label for="cat-desc-{{ .CategoryID }}" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="cat-desc-{{ .CategoryID }}" minlength="3" maxlength="200" placeholder="This is where we discuss off-topic stuff" value="{{ .Description }}">
        </div>
        
        <input type="checkbox" id="is_readonly" name="is_readonly" value="1" {{ if .IsReadOnly }}checked{{ end }}>
        <label for="is_readonly">Enable read-only mode</label><br>

        <input type="checkbox" id="is_private" name="is_private" value="1" {{ if .IsPrivate }}checked{{ end }}>
        <label for="is_private">Enable private mode</label><br>

        <input type="checkbox" id="is_archived" name="is_archived" value="1" {{ if .ArchivedAt.Valid }}checked{{ end }}>
        <label for="is_archived">Archived</label>

        <div class="form-row">
            <input type="submit" class="form-control btn-primary btn-inline" name="action" value="Update">
        </div>
    </form>
    <hr>
</div>
{{ end }}

<div class="well">
    <form method="POST" action="{{ .BasePath }}admin/categories/create">
        {{ .csrfField }}
        <div class="form-row">
            <label for="cat-name-new" class="form-label">New category name</label>
            <input type="text" class="form-control" name="name" id="cat-name-new" minlength="3" maxlength="30" placeholder="Off-topic">
        </div>
        <div class="form-row">
            <label for="cat-desc-new" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="cat-desc-new" minlength="3" maxlength="200" placeholder="This is where we discuss off-topic stuff">
        </div>
        <div class="form-row">
            <input type="submit" class="form-control btn-primary btn-inline" name="action" value="Add">
        </div>
    </form>
</div>


{{ end }}
