{{ define "title" }}
User Profile - {{ .ProfileUser.DisplayName }}
{{ end }}

{{ define "body" }}
<h2>User profile</h2>

{{ if .ShowForm }}
<div class="well">
    <form method="POST">
        {{ .csrfField }}
        <div class="form-row">
            <label for="display_name" class="form-label">Display Name</label>
            <input type="text" class="form-control" name="display_name" id="display_name" minlength="3" maxlength="30" placeholder="Display Name" value="{{ .ProfileUser.DisplayName }}">
        </div>
        <div class="form-row">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" minlength="3" maxlength="100" placeholder="E-mail" value="{{ .ProfileUser.Email }}">
        </div>
        <br>
        {{ if .ShowBan }}
        <input type="checkbox" id="is_banned" name="is_banned" value="1" {{ if .ProfileUser.BannedAt.Valid }}checked{{ end }}>
        <label for="is_banned">User banned</label><br>
        {{ end }}
        {{ if .ErrMsg }}
        <p style="color:red;">{{ .ErrMsg }}</p>
        {{ end }}
        <div class="form-row" style="margin-top: 20px;">
            <input type="submit" class="form-control btn-primary btn-inline" name="action" value="Update">
        </div>
    </form>
    {{ if .User }}
    <br>
    <p><a href="{{ .BasePath }}/auth/changepass">Change password</a></p>
    {{ end }}
    {{ if .User }}{{ if .User.IsSuperAdmin }}
    <p><a href="{{ .BasePath }}/admin">Admin section</a></p>
    {{ end }}{{ end }}
</div>
{{ else }}
<p>Display Name: {{ .ProfileUser.DisplayName }}</p>
<p>About: {{ .ProfileUser.About }}</p>
{{ end }}

{{ end }}