{{ define "body" }}
<form method="POST">
    {{ .csrfField }}
    <input type="email" name="email" placeholder="E=mail">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="password2" placeholder="Password (again)">
    <input type="hidden" name="next" value="{{ .Next }}">
    <input type="submit" name="submit" value="Signup">
</form>
{{ if .ErrMsg }}
<p style="color:red;">{{ .ErrMsg }}</p>
{{ end }}
<p>
    Already have an account? <a href="{{ .BasePath }}/auth/signin?next={{ .Next }}">Signin!</a>
</p>
{{ end }}