{{ define "title" }}
Signin
{{ end }}

{{ define "body" }}
<h2>Signin</h2>
<div class="well">
    <form method="POST">
        {{ .csrfField }}
        <input type="hidden" name="next" value="{{ .Next }}">
        <div class="form-row">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="form-row">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-row" style="margin-top: 20px;">
            <input type="submit" class="form-control btn-primary" name="submit" value="Signin">
        </div>
    </form>
</div>
{{ if .ErrMsg }}
<p style="color:red;">{{ .ErrMsg }}</p>
{{ end }}
<p>
    Want to sign in with a <a href="{{ .BasePath }}auth/otsignin?next={{ .Next }}">one time link?</a>
</p>
<p>
    Don't have an account? <a href="{{ .BasePath }}auth/signup?next={{ .Next }}">Sign up!</a>
</p>

{{ .Var }}
{{ end }}