{{ define "title" }}
Signup
{{ end }}

{{ define "body" }}
<h2>Signup</h2>
<div class="well">
    <form method="POST">
        {{ .csrfField }}
        <input type="hidden" name="next" value="{{ .Next }}">
        <div class="form-row">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="form-row">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-row">
            <label for="password2" class="form-label">Password (again)</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Password (again)">
        </div>
        <div class="form-row" style="margin-top: 20px;">
            <input type="submit" class="form-control btn-primary" name="submit" value="Signup">
        </div>
    </form>
</div>
{{ if .ErrMsg }}
<p style="color:red;">{{ .ErrMsg }}</p>
{{ end }}
<p>
    Already have an account? <a href="{{ .BasePath }}auth/signin?next={{ .Next }}">Signin!</a>
</p>
{{ end }}